<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Blankweave</vendor>
  <action id="org.blankweave.theme-sync">
    <description>Apply Blankweave system appearance</description>
    <message>Authentication is required to apply folder colors and the boot appearance.</message>
    <icon_name>preferences-desktop-theme</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/blankweave/theme-system</annotate>
  </action>
</policyconfig>
